<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedsStorage"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tineda_ico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tineda_ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiendaVirtual">
        <activity
            android:name=".Vendedor.Productos.AgragarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".SelecionarTipoActivity"
            android:exported="false" />
        <activity
            android:name=".Cliente.loginClienteActivity"
            android:exported="false" />
        <activity
            android:name=".Cliente.RegistroClienteActivity"
            android:exported="false" />
        <activity
            android:name=".Vendedor.LoginVendedorActivity"
            android:exported="false" />
        <activity
            android:name=".Vendedor.RegistroVendedorActivity"
            android:exported="false" />
        <activity
            android:name=".Vendedor.MainActivityVendedor"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cliente.MainActivityCliene"
            android:exported="true" />
    </application>

</manifest>